<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handwritten Digit Recognition</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Draw a Digit</h1>
      <canvas id="drawingCanvas" width="280" height="280"></canvas>
      <div class="buttons">
        <button id="clearButton">Clear</button>
        <button id="predictButton">Predict</button>
      </div>
      <div id="predictionResult"></div>
    </div>
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
    <script>
      const predictionEndpoint = "{{ url_for('predict') }}";
    </script>
  </body>
</html>
